@model ServiceItem
@{ 
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
} 

<div>
    <h2>
        @Model.Title
    </h2>
    <h2>
        @Model.SubTitle
    </h2>
    <h2>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </h2>
</div>
<div>
    @Html.Raw(Model.Text)
</div>